/* Style for the contact me page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


    --orange: #fb8500;
    --faint-orange: rgba(251, 133, 0, 0.82);
    --dark-navy: rgba(19, 50, 122, 0.92);
    --dark-navy-solid: rgb(17, 43, 104);
    --lightning-blue: rgba(0, 102, 255, 0.9);
    --sky-blue: rgb(146, 190, 255);
    --water-blue: rgba(138, 192, 236, 0.411);
}

.contact-wrapper {
    width: 70%;
    margin: 6vw auto;
    display: flex;
    justify-content: space-between;
    outline: 7px solid var(--water-blue);
    outline-offset: 15px;
}


.contact-text {
    width: 68%;
    background: var(--water-blue);
    margin-bottom: 7px;
}

.contact-text h2 {
    padding-top: 20px;
    color: var(--dark-navy-solid);
    font-size: 1.5rem;
    padding-left: 3%;
    margin-bottom: -20px;
}

.contact-col {
    flex-basis: 50%;
    margin-top: 5%;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

.contact-col div:last-child{
    margin-bottom: 0px;
}

.contact-col div .fa {
    font-size: 28px;
    color: var(--lightning-blue);
    margin: 10px;
    margin-right: 20px;
    padding-left: 10px;
}

#envelope {
    font-size: 23px;
}

.contact-col div a {
    font-size: 1rem;

    color: var(--dark-navy-solid);
    margin-right: 30px;
}

.contact-col div a:hover {
    color: var(--orange);
    transition: 0.3s;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    outline: none;
    border: 1px solid var(--jay-blue);
    box-sizing: border-box;
}

/* wiki image column */
.mugshot {
    width: 30%;
}

.mugshot img {
    width: 100%;
    max-height: 100%;
    z-index: 5;
}

@media screen and (max-width: 1024px) {
    .contact-wrapper {
        margin-top: 20vw;
        flex-direction: column;
        outline: 7px solid var(--water-blue);
        outline-offset: 15px;
    }

    .contact-text, .mugshot {
        width: 90%;
        margin: 5% auto;
    }

    .contact-text h2 {
        padding-left: 20px;
        margin-bottom: 0px;
    }
    
}

